NODE_ENV=development
API_PORT=3000

DATABASE_URL=postgresql://escalas:escalas@localhost:5432/escalas_dev?schema=public
POSTGRES_USER=escalas
POSTGRES_PASSWORD=escalas
POSTGRES_DB=escalas_dev

JWT_SECRET=change-me-in-prod-with-16-chars-minimum
JWT_REFRESH_SECRET=change-me-too-with-16-chars-minimum
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d

SISBOM_AUTH_URL=https://api.sisbom.cbm.rn.gov.br/api/login-ad
SISBOM_EXTERNAL_BASE_URL=https://api.sisbom.cbm.rn.gov.br/api/v1/external
SISBOM_API_KEY=request-from-tenente-peter
SYNC_INTERVAL_CRON=*/5 * * * *

DATABASE_URL_TEST=postgresql://escalas:escalas@localhost:5432/escalas_test?schema=public
